*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    color: rgb(39, 39, 97);
}
.heading{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 60px;
}
h2 span{
    color: aquamarine;
}
.heading span{
    padding-right: 10px;
} 
.container{
    font-size: x-large;
}

.contact-info{
    padding: 20px;
}

.social-media{
    margin-left: 20px;
}

